.results {
    width: 600px;
    height: 400px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-size: 32px;
        text-align: center;
        color: red;
    }
    button {
        margin: 25px 0 0 0;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        background-color: #00bcd4;
        border: none;
    }
}
